pandas==2.2.3
numpy==1.26.4
seaborn==0.13.2
matplotlib==3.9.2
scikit-learn==1.5.2
imbalanced-learn==0.12.4
scipy==1.13.1
joblib==1.4.2
jupytext==1.16.4
notebook==7.2.2
ipykernel==6.29.5
tabulate==0.9.0
pytest==8.3.3
